spring:
  application:
    name: warmup

  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      group:
        readiness:
          include:
            - "*"
        liveness:
          exclude:
            - warmup
